body {
  background-color :#F2F2F2;
  color: rgb(46, 46, 46);
  font-size: 16px;
  line-height: 2;
}

nav {
  background-color: #333333;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

a {
  text-decoration: none;
}

a:link { color:rgb(255, 255, 255); } /* unvisited */
a:visited { color:rgb(255, 255, 255); } /* visited */
a:hover { color:#F15A24; } /* mouse over */

figcaption {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8em;
  font-style: italic;
  color:  rgb(46, 46, 46);
  padding-bottom: 15px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 15px;
  }

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5em;
  font-weight: 550;
  padding-bottom: 15px;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 530;
  padding-bottom: 15px;
}

h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .9em;
  font-weight: 500;
  padding-bottom: 30px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 61%;
  float: center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
